PaaSolutions/MicrobiltPortAdapter/Service References/StagingTuStd/TuStd.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schema.microbilt.com/messages/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schema.microbilt.com/messages/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://schema.microbilt.com/messages/Imports">
      <xsd:import schemaLocation="https://sdkstage.microbilt.com/WebServices/TU/TuStd.svc?xsd=xsd0" namespace="http://schema.microbilt.com/messages/" />
      <xsd:import schemaLocation="https://sdkstage.microbilt.com/WebServices/TU/TuStd.svc?xsd=xsd1" namespace="http://schema.microbilt.com/messages/TuStd/v1_0" />
      <xsd:import schemaLocation="https://sdkstage.microbilt.com/WebServices/TU/TuStd.svc?xsd=xsd2" namespace="http://schema.microbilt.com/globals" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITuStdWorkflow_GetReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReport" />
  </wsdl:message>
  <wsdl:message name="ITuStdWorkflow_GetReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportResponse" />
  </wsdl:message>
  <wsdl:message name="ITuStdWorkflow_GetRawReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRawReport" />
  </wsdl:message>
  <wsdl:message name="ITuStdWorkflow_GetRawReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRawReportResponse" />
  </wsdl:message>
  <wsdl:message name="ITuStdWorkflow_GetArchiveReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArchiveReport" />
  </wsdl:message>
  <wsdl:message name="ITuStdWorkflow_GetArchiveReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArchiveReportResponse" />
  </wsdl:message>
  <wsdl:message name="ITuStdWorkflow_Transform_InputMessage">
    <wsdl:part name="parameters" element="tns:Transform" />
  </wsdl:message>
  <wsdl:message name="ITuStdWorkflow_Transform_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransformResponse" />
  </wsdl:message>
  <wsdl:message name="ITuStdWorkflow_Map_InputMessage">
    <wsdl:part name="parameters" element="tns:Map" />
  </wsdl:message>
  <wsdl:message name="ITuStdWorkflow_Map_OutputMessage">
    <wsdl:part name="parameters" element="tns:MapResponse" />
  </wsdl:message>
  <wsdl:portType name="ITuStdWorkflow">
    <wsdl:operation name="GetReport">
      <wsdl:input wsaw:Action="http://schema.microbilt.com/messages/GetReport" message="tns:ITuStdWorkflow_GetReport_InputMessage" />
      <wsdl:output wsaw:Action="http://schema.microbilt.com/messages/GetReportResponse" message="tns:ITuStdWorkflow_GetReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRawReport">
      <wsdl:input wsaw:Action="http://schema.microbilt.com/messages/GetRawReport" message="tns:ITuStdWorkflow_GetRawReport_InputMessage" />
      <wsdl:output wsaw:Action="http://schema.microbilt.com/messages/GetRawReportResponse" message="tns:ITuStdWorkflow_GetRawReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArchiveReport">
      <wsdl:input wsaw:Action="http://schema.microbilt.com/messages/GetArchiveReport" message="tns:ITuStdWorkflow_GetArchiveReport_InputMessage" />
      <wsdl:output wsaw:Action="http://schema.microbilt.com/messages/GetArchiveReportResponse" message="tns:ITuStdWorkflow_GetArchiveReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Transform">
      <wsdl:input wsaw:Action="http://schema.microbilt.com/messages/Transform" message="tns:ITuStdWorkflow_Transform_InputMessage" />
      <wsdl:output wsaw:Action="http://schema.microbilt.com/messages/TransformResponse" message="tns:ITuStdWorkflow_Transform_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Map">
      <wsdl:input wsaw:Action="http://schema.microbilt.com/messages/Map" message="tns:ITuStdWorkflow_Map_InputMessage" />
      <wsdl:output wsaw:Action="http://schema.microbilt.com/messages/MapResponse" message="tns:ITuStdWorkflow_Map_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>